@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
  /* background-color: red; */
}

::-webkit-scrollbar-thumb {
  background: #431407;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c2d12;
}

@font-face {
  font-family: danube;
  src: url("../../public/fonts/danube/DANUBE__.TTF");
}

.logo__text {
  font-family: danube;
  color: #e36799;
  font-weight: 600;
}

body {
  background-color: #e7e8f3;
}
